h1,
p {
  text-align: center;
}

/*** first **/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #232527;
  padding: 0 100px;
  z-index: 15;
}

#time {
  display: flex;
  /* gap: 40px; */
  justify-content: space-evenly !important;
  color: #fff;
  /* justify-content: center;*/
}

#time .circle {
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  /* margin: 0 5px; */
  justify-content: center;
  align-items: center;
}

#time .circle svg {
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(270deg);
}

#time .circle svg circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke: #070707;
  stroke-width: 4px;
  transform: translate(5px, 5px);
}

#time .circle svg circle:nth-child(2) {
  stroke: var(--color);
  stroke-dasharray: 440;
}

#time div {
  position: absolute;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
}

#time div span {
  position: absolute;
  transform: translate(-50%, 0px);
  font-size: 0.5rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

#time .ap {
  position: relative;
  font-size: 1rem;
  transform: translate(-20px);
}

.dots {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  z-index: 10;
}

.dots::before {
  content: '';
  position: absolute;
  top: 0px;
  width: 10px;
  height: 10px;
  background: var(--color);
  border-radius: 50%;
  box-shadow: 0 0 20px var(--color), 0 0 60px var(--color);
}

.prvikrug,.drugikrug,.trecikrug {
  r:50;
 }

 .trecikrugg {
  r:70
 }

 #hours,#minutes,#seconds {
  font-size: 1rem !important;
}

body {
  height: 900px;
  justify-content: center;
  align-items: center;
  height: 800px;
}

.glow-on-hover {
  width: 240px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: absolute !important;
  justify-content: center;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  display: flex !important;
  justify-content: center;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover {
  background-color: #232527;
  position: relative;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #11111141;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.p {
  filter: hue-rotate(-60deg);
  text-shadow: 2px 2px blue;
  color: white;
  background-color: rgb(172, 76, 76);
  padding: 3px;
  border-radius: 3px;
  /* display: flex;
    justify-content: center;
    align-items: center; */
  text-transform: capitalize;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: #232527;
  text-align: center;
}

.button {
  display: flex;
  justify-content: center;
  position: relative;
  top: 100px;
}

.reci:hover {
  background: #0000008e;
  transition: .50s ease-in-out;
}

.p:hover {
  padding: 6px;
  border-radius: 8px;
  color: #ffffff !important;
  text-shadow: none;
  font-weight: 2500;
  background-color: rgb(0, 0, 0);
}

.jeu {
  position: relative;
  right: -49.5%;
  top: -15%;
  height: 40px;
  width: 100px;
  margin-left: -30px;
 }
 
 .quiz {
   position: absolute;
   text-align: center;
   display: flex;
 }
 
 .quiz a {
   color: #4e3e3e;
   font-size: 25px;
   text-align: center;
   padding-left: 10px;
 }
 
 .quiz a:hover {
   color: rgb(255, 255, 255);
   transition: ease 1s;
 }
 
 span {
   display: inline-block;
   background: url(./fast-forward.gif) no-repeat;
   border-radius: 60%; 
   height: 40px;
   width: 40px;
   background-color: #ffffff;
   animation: arrow 1s linear infinite;
 }



#timee {
  display: none;
}








 @media screen and (max-width: 500px) {
   
  .prvikrug,.drugikrug,.trecikrug {
   r:50;
  }

  .prvikrugg,.drugikrugg,.trecikrugg {
    r:50
  }

  #hours,#minutes,#seconds {
    font-size: 1rem !important;
  }

  #time {
    display: flex;
    /* gap: 40px; */
    justify-content: space-evenly !important;
    color: #fff;
    /* justify-content: center;*/
  }

  #time .circle {
    /* position: relative; */
    width: 150px;
    height: 110px;  /* mala tackica*/
    display: flex;
    /* margin: 0 5px; */
    justify-content: center;
    align-items: center;
  }

  #time .circle svg {
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
  }

  #time .circle svg circle:nth-child(2) {
    stroke: var(--color);
    stroke-dasharray: 400;
  }
 }



@media screen and (max-width: 460px) {
  
  .container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #232527;
    padding: 0;
    margin: 0;
    z-index: 15;
  }

  #time {
    display: flex;
    justify-content: space-evenly !important;
    color: #fff;
  }
  
  #time .circle {
    width: 150px;
    height: 110px;  /* mala tackica*/
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .prvikrug,.drugikrug,.trecikrug {
   r:50;
  }

  .prvikrugg,.drugikrugg,.trecikrugg {
    r:50
  }

  #time .circle svg {
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
  }
  
  #time .circle svg circle {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke: #070707;
    stroke-width: 4px;
    transform: translate(5px, 5px);
  }
  
  #time .circle svg circle:nth-child(2) {
    stroke: var(--color);
    stroke-dasharray: 400;
  }
  
  #time div {
    position: absolute;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0 -20px;
  }

  #time div span {
    position: absolute;
    transform: translate(-50%, 0px);
    font-size: 0.5rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }

  .dots {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: 10;
  }
  
  .dots::before {
    content: '';
    position: absolute;
    top: -1px;
    width: 10px;
    height: 10px;
    background: var(--color);
    border-radius: 50%;
    box-shadow: 0 0 20px var(--color), 0 0 60px var(--color);
  }

  #hours,#minutes,#seconds {
    font-size: 1rem !important;
  }

}

@media screen and (max-width: 399px) {
  h1 {
    font-size: 20px;
  }
  i {
    font-size: 10px;
  }
  .container {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #232527;
    padding-right: 50px;
    margin: 0;
    box-sizing: border-box;
    z-index: 15;
  }

  /* .container {
    padding-right: 100px;
  } */
}
 
@media screen and (max-width: 370px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
 
  #time {
    visibility: hidden;
    
  } 
  
body {
  position: static !important;
}

.jeu {
  position: absolute;
  top: 46rem;
  right: 125px;
  display: block;
  /* z-index: 20; */
}

h1 {
  font-size: 10px;
  text-align: center;
  margin: 5px 20px 0;
  font-size: 14px;
}

i {
  text-align: center;
}

.p {
  font-size: 10px;
}
.glow-on-hover {
  width: 170px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: absolute !important;
  justify-content: center;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  display: flex !important;
  justify-content: center;
  /* background-size: 200%; */
  z-index: -1;
  filter: blur(5px);
  width: calc(90% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}



.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover {
  background-color: #232527;
  position: relative;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #11111141;
  left: 0;
  top: 0;
  border-radius: 10px;
}

#timee .circlee{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 5vh;
  overflow: hidden;
  position: absolute;
  top: -40rem;
  left: 90px;
  
}

svg .svg {
  width: 300px;
  position: absolute;
  
}

#clock {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  scale:1;
  box-shadow: inset 5px 5px 24px rgba(0, 0, 0, 0.75);
  border-radius: 50%;
  
}

/* .krug{
  /* overflow: hidden; */
  background: #8f7171;
  width: 130px;
  border-radius: 50%;
} */

.circlee {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#timee {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

#timee .circlee svg{
  position: relative;
  transform: rotate(270deg);
}
 
#timee .circlee:nth-child(1) svg{
  width: 220px;
  height: 230px;
  top: -60px; 
}

#timee .circlee:nth-child(2) svg{
  width: 200px;
  height: 220px;
  position: relative;
  top: -100px;
  left: -10px;
}

#timee .circlee:nth-child(3) svg{
  width: 120px;
  height: 120px;
  top: -30px;
  left: -40px;
}
#timee .circlee svg circle{
  width: 300px;
  height: 100%;
  fill: transparent;
  stroke-width: 5;
  stroke: var(--clr);
  transform: translate(-15px,5px);
}



#timee .circlee:nth-child(1) svg circle {
  stroke-dasharray: 440;
  /* stroke-dashoffset: 500; */
}
 
#timee .circlee:nth-child(2) svg circle {
  stroke-dasharray: 390;
  /* stroke-dashoffset: 630; */
  
}
 
#timee .circlee:nth-child(3) svg circle {
  stroke-dasharray: 300;
  /* stroke-dashoffset: 300; */
}
 
.dotss {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  /* z-index: 10; */
}

.dotss::before {
  content: '';
  position: absolute;
  
}


/* proveri ti dali je u blocku */