body {
    background: #9c6464;
}



/* .language {
    display: none;
    font-size: 2em;
    text-align: center;
    margin-top: 20%;
    color: #ffffff;
}


button {
    margin: 10px;
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
}
 */



.language {
    display: none;
    font-size: 2em;
    text-align: center;
    margin-top: 20%;
}

.language-container {
    text-align: center;
    margin-bottom: 20px;
}

button {
    margin: 10px;
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
}